// importing the font to use in the body
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Gayathri:wght@700&display=swap');


// This are the primary colors to use
// Using a fixed number of colors brings about consistency in
// the layout
// the primary colors are the main colors that identify the company
// the secondary color complements the primary color
// the on background color is the color value of text depending on the nature of the background
// the border color caters for both borders and box shadows

//IT IS IMPORTANT TO SAY THAT THIS CONVENTION IS SIMILAR TO MATERIAL DESIGN, READ IT ON material.io

$PRIMARY_COLOR : #f6f6f6;
$PRIMARY_COLOR_LIGHT : #ffffff;
$PRIMARY_COLOR_DARK : #f2f2f2;

$SECONDARY_COLOR : #2b8bff;
$SECONDARY_COLOR_LIGHT : #57a8ff;
$SECONDARY_COLOR_DARK : #1577ed;

$ON_BACKGROUND_LIGHT : #1a1a1a;
$ON_BACKGROUND_DARK : #ffffff;

$BORDER_COLOR : #cfcfcf;
$BORDER_COLOR_LIGHT : #ebebeb;
$BORDER_COLOR_DARK : #787878;

*{
  box-sizing: border-box;
}

body{
  background: $PRIMARY_COLOR;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0px;
}

// the upper most section of the web application
//the section contains the following data-contents
//the brand name and logo
// a navigation area


header{
  background: $PRIMARY_COLOR_LIGHT;
  box-shadow: 0px 0px 3px $BORDER_COLOR;
  display: block;
  flex-direction: row;
  height: 70px;
  padding: 15px 30px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100000;

  .TtlDiv{
    display: inline-block;
    padding: 10px 25px;

    // company logo image
    img{
      display: inline-block;
    }
    h3{
      display: inline-block;
    }
  }


  .SrchDiv{
    display: inline-block;
    padding: 0 20vw;

    form{
      position:relative;
      top: -35px;

      button{
        background: none;
        border-top: 1px solid $BORDER_COLOR;
        border-bottom: 1px solid $BORDER_COLOR;
        border-left: 1px solid $BORDER_COLOR;
        border-right: none;
        border-radius: 3px 0 0 3px;
        box-sizing: border-box;
        left: 0px;
        padding: 12px;
        position: absolute;
        width: 40px;

        img{
          height: 20px;
          width: 20px;
        }
      }
      input{
        background: none;
        border-top: 1px solid $BORDER_COLOR;
        border-bottom: 1px solid $BORDER_COLOR;
        border-right: 1px solid $BORDER_COLOR;
        border-left: none;
        border-radius: 0 3px 3px 0;
        display: inline-block;
        height: 49px;
        left: 40px;
        padding: 12px 0 12px 12px;
        position: absolute;
      }
    }
  }



  .NavDiv{
    display: inline-block;
    padding: 0 20px;
    margin:  0 10px 0 20vw;

    .NavImgDiv{
      .NavOpt{
        margin: 0 10px;
        width: 30px;
      }
    }
  }
}


// this section contains all the other sections of the page
// it is in this division that we actually get the content
// that we want
#MnSct{
  padding: 5px 3vw;
  position: relative;
  top: 80px;
}
