*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: #f6f6f6;
    width: 100%;
}
.nav{
    box-shadow: 0px 3px 3px 1px #777;
    width: 100%;
}
.top{
    align-items: center;
    color: #333333;
    display: flex;
    font-family: verdana;
    height: 8vh;
    width: 100%;
}
.logo{
    float: left;
    font-size: 20px;
    padding-left: 20px
    width: 50%;
}
.nav-links{
    float: left;
    width: 50%;
}
.links{
    display: flex;
    float: right;
    padding-right: 30px;
}
.links li{
    list-style: none;
    margin-left: 30px;
}
.links a{
    color: #ccc;
    font-weight: bold;
    text-decoration: none;
}
.links a:hover{
    color: white;
}
.links a:active{
    color: blue;
}
.link2{
    border: 1px solid white;
    border-radius: 10px;
    padding: 4px 2px 4px 2px;
}
.link2:hover{
    background-color: cornflowerblue;
    border: 1px solid blue;
}
.bottom{
    align-items: center;
    box-shadow: 2px 3px 3px 1px #777;
    color: white;
    display: block;
    flex-direction: column;
    font-family: verdana;
    height: 32vh;
    text-align: center;
    padding-top: 50px;
    width: 100%;
}
.top-image{
    align-items: center;
    background-color: black;
    box-shadow: 2px 3px 3px 1px #777;
    color: white;
    display: flex;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
}
.top-image p{
    margin-left: auto;
    margin-right: auto;
}
.data-contents{
    align-items: center;
    display: flex;
    height: 40vh;
    margin-top: 10px;
    padding-top: 3px;
    width: 100%;
}
.first-content, .second-content, .nth-content{
    background-color: #ccc;
    box-shadow: 2px 3px 3px 1px #777;
    height: 90%;
    margin-left: 2.5%;
    text-align: center;
    width: 30%;
}
.first-content p, .second-content p, .nth-content p{
    align-items: center;
}
.last-content{
    background-color: red;
    display: flex;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.left{
    background-image: url("stars.jfif");
    height: 100%;
    width: 70%;
}
.right{
    background-color: rgb(201, 66, 66);
    height: 100%;
    width: 30%;
}
.footer{
    background-color: rgba(0, 0, 0, 0.82);
    color: #ddd;
    display: flex;
    flex-direction: column;
    font-family: verdana;
    font-size: 15px;
    height: 80vh;
    margin-top: 10px;
    width: 100%;
}
.partners{
    background-color: rgb(72, 172, 72);
    display: flex;
    height: 50%;
    padding-top: 20px;
    width: 100%;
}
.part-left{
    border-right: 1px solid #ddd;
    height: 80%;
    padding: 50px 0 0 80px;
    width: 60%;
}
.part-left h4{
    color: #444;
    margin-bottom: 30px;
}
.part-right{
    width: 40%;
}
.topped, .bottommed{
    padding: 30px 0 0 20px;
}
.bottommed img, .topped img{
    float: left;
    margin-right: 20px;
}
.detail span{
    color: #444;
    text-transform: capitalize;
}
